@model HomeViewModel
@using System.Globalization;
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .mySlides {
        display: none;
    }
</style>
@section slider{
    @for (int index = 0; index < Model.Slides.Count; index++)
    {
        var slide = Model.Slides[index];
        <img class="mySlides header-banner-img fade" src="@slide.Image" style="width:100%">
    }
    }
<div class="header-botom">
    <div class="div div-1">
        <img src="/img/Vector.png">
        <div class="dau">
            <span class="header-botom-title">TƯ VẤN & CHĂM SÓC TẬN TÌNH CHU ĐÁO</span>
            <span class="header-botom-des">Trong suốt quá trình sử dụng</span>
        </div>
    </div>
    <div class="div div-2">
        <img src="/img/vec2.png">
        <div class="dau">
            <span class="header-botom-title">SẢN PHẨM 100% CHÍNH HÃNG</span>
            <span class="header-botom-des">Cam kết đảm bảo về nguồn gốc</span>
        </div>
    </div>
    <div class="div div-3">
        <img src="/img/vec3.png">
        <div class="dau">
            <span class="header-botom-title">CHO PHÉP TRẢ HÀNG</span>
            <span class="header-botom-des">Cho phép đổi trả trong vòng 15 ngày</span>
        </div>
    </div>
</div>
                                                                                                                                </header>

<main>

    <div class="div-spthinhhanh">
        <span class="border-l"></span>
        <span class="border-ct">SẢN PHẨM THỊNH HÀNH</span>
        <span class="border-r"></span>
    </div>

    <div class="qeqwewesdsa">
        <div class="gai-xinh">
            <img class="gai-xinh-img" src="/img/thinhhanh1.jpg" />
            <div class="tinh-dau-1">
                <img class="tinhdau-img" src="/img/thinhhanh4.jpg" />
                <img class="tinhdau-img" src="/img/thinhhanh5.jpg" />
            </div>
        </div>
        <div class="tinh-dau">
            <img class="gai-xinh-img" src="/img/thinhhanh2.jpg" />
            <div class="tinh-dau-1">
                <img class="tinhdau-img" src="/img/thinhhanh6.jpg" />
                <img class="tinhdau-img" src="/img/thinhhanh7.jpg" />
            </div>
        </div>
    </div>

    <div class="div-spthinhhanh">
        <span class="border-l"></span>
        <span class="border-ct">SẢN PHẨM GỢI Ý</span>
        <span class="border-r"></span>
    </div>

    <div class="sanpham">
        @{
            var i = 0;
        }
        @foreach (var item in Model.LatestProducts)
        {
            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
            if (i < 4)
            {
                <div class="sanpham-details">
                    <img class="sanpham-details-img" src="@item.ThumbnailImage">
                    <p class="sanpham-details-text"><a href="@url">@item.Name</a></p>
                    <div class="prices">
                        <span style="display:inline-block" class="prices-price">
                            @{
                                CultureInfo culass = CultureInfo.GetCultureInfo("vi-VN");
                                string salePrice = item.Price.ToString("#,###", culass.NumberFormat);
                            }
                            @("VNĐ " + salePrice)
                        </span>
                        <span class="prices-sale">20%</span>
                    </div>
                    <div class="add-to-cart">
                        <p class="total-price">
                            @{
                                string originPrice = item.OriginalPrice.ToString("#,###", culass.NumberFormat);
                            }
                            @("VNĐ " + originPrice)
                        </p>
                        <a class="add-card btn-add-cart" data-id="@item.Id" href="#" style="display:block"><localize><i class="fa-solid fa-cart-plus"></i></localize></a>
                    </div>
                    <a onclick="sssadasdasd()" class="pay-to-card-dt hv" href="#" style="margin-top:10%; padding:2%">Mua hàng</a>

                </div>
                i++;
            }
        }
    </div>

    <div class="div-spthinhhanh">
        <span class="border-l"></span>
        <span class="border-ct">SẢN PHẨM NỔI BẬT CỦA THÁNG</span>
        <span class="border-r"></span>
    </div>
    <div class="sanphams">
        @{
            var j = 0;
        }
        @foreach (var item in Model.LatestProducts)
        {
            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";

            if (j < 3)
            {
                <div class="sanpham-detailss">
                    <img class="sanpham-details-imgs" src="@item.ThumbnailImage">
                    <a style="display:block" class="sanpham-details-texts" href="@url">@item.Name</a>
                    <div class="pricess">
                        <span style="display:inline-block" class="prices-pricess">
                            @{
                                CultureInfo culsa = CultureInfo.GetCultureInfo("vi-VN");
                                string salePrices = item.Price.ToString("#,###", culsa.NumberFormat);
                            }
                            @("VNĐ " + salePrices)
                        </span>
                        <span class="prices-sale">20%</span>
                    </div>
                    <div class="add-to-cart">
                        <p class="total-prices">
                            @{
                                string originPrices = item.OriginalPrice.ToString("#,###", culsa.NumberFormat);
                            }
                            @("VNĐ " + originPrices)
                        </p>
                        <a class="add-card btn-add-cart" data-id="@item.Id" href="#" style="display:block"><localize><i class="fa-solid fa-cart-plus"></i></localize></a>
                    </div>
                    <a onclick="sssadasdasd()" class="pay-to-card-dt hv" href="#" style="margin-top:10%; padding:2%">Mua hàng</a>
                </div>
                j++;
            }
        }
    </div>
    <div class="div-spthinhhanh">
        <span class="border-l"></span>
        <span class="border-ct">ƯU ĐÃI ĐẶC BIỆT CỦA THÁNG NÀY</span>
        <span class="border-r"></span>
    </div>
    <div class="sanphams">
        @foreach (var item in Model.LatestProducts)
        {
            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
            <div class="sanpham-details">
                <img class="sanpham-details-img" src="@item.ThumbnailImage">
                <a style="display:block" class="sanpham-details-text" href="@url">@item.Name</a>
                <div class="prices">
                    <span style="display:inline-block" class="prices-price">
                        @{
                            CultureInfo culss = CultureInfo.GetCultureInfo("vi-VN");
                            string salePrices = item.Price.ToString("#,###", culss.NumberFormat);
                        }
                        @("VNĐ " + salePrices)
                    </span>
                    <span class="prices-sale">20%</span>
                </div>
                <div class="add-to-cart">
                    <p class="total-price">
                        @{
                            string originPrices = item.OriginalPrice.ToString("#,###", culss.NumberFormat);
                        }
                        @("VNĐ " + originPrices)
                    </p>
                    <a class="add-card btn-add-cart" data-id="@item.Id" href="#" style="display:block"><localize><i class="fa-solid fa-cart-plus"></i></localize></a>
                </div>
                <a onclick="sssadasdasd()" class="pay-to-card-dt hv" href="#" style="margin-top:10%; padding:2%">Mua hàng</a>
            </div>
        }
    </div>

    <div id="myModal-cart" class="modal-cart modal">
        <div class="modal-cart--content modal-content23">
            <div class="modal-header23">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body23">
                @{
                    decimal sum = 0;
                }
                @foreach (var item in Model.CheckoutViewModels.CartItems)
                {
                    sum += item.Price;
                    <div class="sp-body23">
                        <p class="csfsa">&times;</p>
                        <div class="check0vsd">
                            <input style="display:block" type="checkbox" class="imb-check">
                            <img src="@item.Image" alt="" class="img-check">
                            <div class="sp-add-bd">
                                <p class="p-check"> @item.Description</p>
                                <div class="baonhecaine">
                                    <button style="display:inline" class="button">+</button>
                                    <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="@item.Quantity" min="1" />
                                    <button class="button">-</button>
                                </div>

                            </div>
                        </div>
                        <p class="p-check-price">
                            @{
                                CultureInfo culs = CultureInfo.GetCultureInfo("vi-VN");
                                var s = (item.Quantity * item.Price);
                                string pricett = s.ToString("#,###", culs.NumberFormat);
                            }
                            VND @pricett
                        </p>
                    </div>
                }


            </div>
            <div class="modal-footer23">
                <div class="baocainhe">
                    <img style="display:block" src="/img/trashpopop.png" alt="">
                    <p style="margin-left:10px;color:#F07C50;cursor: pointer;">Xóa giỏ hàng</p>
                </div>
                <p class="giamgiachonhaudi">Mã giảm giá</p>
                <div class="formgiamgiado">
                    <input class="dattengichongau" type="text" placeholder="Vui lòng nhập mã giảm giá">
                    <input class="datdaidi" type="submit" value="Áp dụng">
                </div>
                <input style="margin-top: 20px;
min-width:0;
min-height: 0;
background:none;
border:none;
display:inline;
                max-width: 80.37px;
                flex: 1;
                transform: scale(2);
                accent-color: #F07C50;
                margin-right: 10px;" type="checkbox" class="imb-checks"> <span style="font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;

                color: #000000;">Tất cả</span>
                <div class="tongtiendo">
                    <p class="ptongtienprice">Tổng số tiền</p>
                    <p class="ptongtienprice">
                        @{
                            CultureInfo dsdsas = CultureInfo.GetCultureInfo("vi-VN");
                            string asdadas = sum.ToString("#,###", dsdsas.NumberFormat);
                        }
                        VND @asdadas
                    </p>
                </div>
                <a href="/@culture/Cart/Checkout" class="text-center text-white d-block btsdsdadsa">Mua hàng</a>
                <a class="closes text-center d-block addasd btsdsdadsa">Xem thêm sản phẩm</a>
            </div>
        </div>
    </div>

