@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css2/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css2/style4.css">
    <link rel="stylesheet" href="/css2/newcss.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="hidBaseAddress" value="@Configuration["BaseAddress"]" />
    <div class="main">
        <header>
            <div class="header-login">
                <ul class="header-login__list">
                    <li class="header-login__list-items">
                        <a href="/">
                            Cửa hàng
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="header-login__list-items">Xin chào! Lê Uyên</li>
                        <li style="cursor:pointer" class="header-login__list-items">
                            <a style="cursor:pointer" id="mybtn" @*href="/@culture/Cart/Checkout"*@>
                                <i class="item fa-solid fa-cart-shopping"></i>
                                <span class='badge badge-warning txt_quantity_' id='lblCartCount'>0</span>
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form action="/@culture/Account/Logout" method="post">
                            <button class="header-login__list-items btn btn-large btn-danger" type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                        </form>
                    }
                    else
                    {
                        <li class="header-login__list-items">
                            <a href="/@culture/Account/Login">
                                Đăng nhập/Đăng ký
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="header-logo">
                <div class="header-logo--left">
                    <div class="header-logo--left-text">
                        <p><a href="/">Pinky</a></p>
                    </div>
                    <div class="header-logo--left-search">
                        <form action="@culture/Product/Search" class="header-search-form">
                            <input type="text" class="header-logo--left-input" id="accordion2" />
                            <button type="submit" style="background-color: rgb(240, 127, 83);" class="searchButton"> <i class="fa-solid fa-magnifying-glass "></i> </button>
                        </form>
                    </div>
                </div>
                <div class="header-logo--right">
                    <ul class="header-logo--right-content ">
                        <li class="header-logo--right-content-list header-logo--right-content-list-a ">SALE TO GIỮA TUẦN</li>
                        <li class="header-logo--right-content-list "><a href="#">Tin Tức</a></li>
                        <li class="header-logo--right-content-list "><a href="#">Sự kiện</a></li>
                        <li class="header-logo--right-content-list "><a href="#">Ưu đãi</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-menu ">
                <ul class="header-menu__list ">
                    <li class="header-menu__list-items "><a href="/">TRANG CHỦ</a></li>
                    <li class="header-menu__list-items">
                        <a href="#">DƯỠNG DA</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">RỬA MẶT &TẨY TRANG</a></li>
                                <li><a href="#">NƯỚC HOA HỒNG</a></li>
                                <li><a href="#">SỬA DƯỠNG</a></li>
                                <li><a href="#">TINH CHẤT</a></li>
                                <li><a href="#">DƯỠNG MẮT</a></li>
                                <li><a href="#">KEM - GEL DƯỠNG</a></li>
                                <li><a href="#">CHỐNG NẮNG</a></li>
                            </ul>
                            <ul class="submenu-duongda">
                                <li><a href="#">MẶT NẠ</a></li>
                                <li><a href="#">DƯỠNG MÔI</a></li>
                                <li><a href="#">XỊT KHOÁNG</a></li>
                                <li><a href="#">TẨY TẾ BÀO CHẾT</a></li>
                                <li><a href="#">BỘ SẢN PHẨM CHĂM SÓC DA</a></li>
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>

                        </div>


                    </li>
                    <li class="header-menu__list-items ">
                        <a href="#">MẶT NẠ</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">MẶT NẠ GIẤY</a></li>
                                <li><a href="#">MẶT NẠ RỬA</a></li>
                                <li><a href="#">MẶT NẠ NGỦ</a></li>
                                <li><a href="#">MẶT NẠ MẮT</a></li>
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu__list-items ">
                        <a href="#">TRANG ĐIỂM</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">NỀN</a></li>
                                <li><a href="#">MẮT - MÔI</a></li>
                                <li><a href="#">SIMPLE LABEL</a></li>
                                <li><a href="#">DỤNG CỤ TRANG ĐIỂM</a></li>
                                <li><a href="#">CHĂM SÓC MÓNG</a></li>
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu__list-items ">
                        <a href="#">CHĂM SÓC TÓC & CƠ THỂ</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">CHĂM SÓC TÓC</a></li>
                                <li><a href="#">CHĂM SÓC CƠ THỂ</a></li>
                                <li><a href="#">XỊT TOÀN THÂN</a></li>
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu__list-items ">
                        <a href="#">CHỐNG NẮNG</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">CHỐNG NẮNG DA MẶT</a></li>
                                <li><a href="#">CHỐNG NẮNG DA BODY</a></li>
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu__list-items ">
                        <a href="#">KHÁC</a>
                        <div class="menu-ngang">
                            <ul class="submenu-duongda">
                                <li><a href="#">TOÀN BỘ</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="max-width:100%" class="w3-content w3-display-container header-banner ">
                @RenderSection("slider", required: false)
            </div>


            @RenderBody()

            <div class="content-footer">
                <div class="div-spthinhhanh" style="
                          justify-content: center;">
                    <span class="border-l"></span>
                    <span class="border-ct">MUA HÀNG VÀ ƯU ĐÃI THÀNH VIÊN</span>
                    <span class="border-r"></span>
                </div>
                <div class="content-info">
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-solid fa-user"></i></p>
                        <p class="info-description">Đăng ký</p>
                    </div>
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-user fa-solid fa-money-bill-1"></i></p>
                        <p class="info-description">Ưu đãi thành viên</p>
                    </div>
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-user fa-solid fa-p"></i></p>
                        <p class="info-description">Điểm thưởng</p>
                    </div>

                </div>
                <div class="content-info">
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-user fa-regular fa-credit-card"></i></p>
                        <p class="info-description">Voucher ưu đãi</p>
                    </div>
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-user fa-solid fa-truck-fast"></i></p>
                        <p class="info-description">Dịch vụ giao hàng</p>
                    </div>
                    <div class="dau-info">
                        <p class="info-user"><i class="fa-user fa-solid fa-money-bill-wave"></i></p>
                        <p class="info-description">Phương thức thanh toán</p>
                    </div>

                </div>
            </div>
            </main>
            <div id="myModal-cart" class="modal-cart modal">
                <div class="modal-cart--content modal-content23">
                    <div class="modal-header23">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body23">
                        <div class="sp-body23">
                            <p class="csfsa">&times;</p>
                            <div class="check0vsd">
                                <input style="display:block" type="checkbox" class="imb-check">
                                <img src="/img/a1.png" alt="" class="img-check">
                                <div class="sp-add-bd">
                                    <p class="p-check">Son Tint dạng lì siêu nhẹ môi innisfree Airy Matte Tint 3.8g</p>
                                    <div class="baonhecaine">
                                        <button style="display:inline" class="button">+</button>
                                        <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                        <button class="button">-</button>
                                    </div>

                                </div>
                            </div>
                            <p class="p-check-price">VND 306.000</p>
                        </div>
                        <div class="sp-body23">
                            <p class="csfsa">&times;</p>
                            <div class="check0vsd">
                                <input style="display:block" type="checkbox" class="imb-check">
                                <img src="/img/a2.png" alt="" class="img-check">
                                <div class="sp-add-bd">
                                    <p class="p-check">Dầu dưỡng tóc hoa trà innisfree Camellia Essential Hair Oil Serum 100ml...</p>
                                    <div class="baonhecaine">
                                        <button style="display:inline" class="button">+</button>
                                        <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                        <button class="button">-</button>
                                    </div>

                                </div>
                            </div>
                            <p class="p-check-price">VND 234.000</p>
                        </div>
                        <div class="sp-body23">
                            <p class="csfsa">&times;</p>
                            <div class="check0vsd">
                                <input style="display:block" type="checkbox" class="imb-check">
                                <img src="/img/a3.png" alt="" class="img-check">
                                <div class="sp-add-bd">
                                    <p class="p-check">Kem dưỡng ẩm nâng tông làm sáng da và chống nắng innisfree Cherry Blossom Skin....</p>
                                    <div class="baonhecaine">
                                        <button style="display:inline" class="button">+</button>
                                        <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                        <button class="button">-</button>
                                    </div>

                                </div>
                            </div>
                            <p class="p-check-price">VND 495.000</p>
                        </div>
                        <div class="sp-body23">
                            <p class="csfsa">&times;</p>
                            <div class="check0vsd">
                                <input style="display:block" type="checkbox" class="imb-check">
                                <img src="/img/a4.png" alt="" class="img-check">
                                <div class="sp-add-bd">
                                    <p class="p-check">Son Tint dạng lì siêu nhẹ môi innisfree Airy Matte Tint 3.8g</p>
                                    <div class="baonhecaine">
                                        <button style="display:inline" class="button">+</button>
                                        <input style="width: 1em;text-align:center;border:none" type="text" class="input inputadssa" value="1" min="1" />
                                        <button class="button">-</button>
                                    </div>

                                </div>
                            </div>
                            <p class="p-check-price">VND 306.000</p>
                        </div>
                    </div>
                    <div class="modal-footer23">
                        <div class="baocainhe">
                            <img style="display:block" src="/img/trashpopop.png" alt="">
                            <p style="margin-left:10px;color:#F07C50;cursor: pointer;">Xóa giỏ hàng</p>
                        </div>
                        <p class="giamgiachonhaudi">Mã giảm giá</p>
                        <div class="formgiamgiado">
                            <input class="dattengichongau" type="text" placeholder="Vui lòng nhập mã giảm giá">
                            <input class="datdaidi" type="submit" value="Áp dụng">
                        </div>
                        <input style="margin-top: 20px;
min-width:0;
min-height: 0;
background:none;
border:none;
display:inline;
                max-width: 80.37px;
                flex: 1;
                transform: scale(2);
                accent-color: #F07C50;
                margin-right: 10px;" type="checkbox" class="imb-checks"> <span style="font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;

                color: #000000;">Tất cả</span>
                        <div class="tongtiendo">
                            <p class="ptongtienprice">Tổng số tiền</p>
                            <p class="ptongtienprice">VND 495.000</p>
                        </div>
                        <a href="/@culture/Cart/Checkout" class="text-center text-white d-block btsdsdadsa">Mua hàng</a>
                        <a class="closes text-center d-block addasd btsdsdadsa">Xem thêm sản phẩm</a>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
            <script>
                // Get the modal
                var modal = document.getElementById("myModal-cart");

                // Get the button that opens the modal
                var btn = document.getElementById("mybtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                var spans = document.getElementsByClassName("closes")[0];
                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }
                spans.onclick = function () {
                    modal.style.display = "none";
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                $(function () {
                    $(".button").on("click", function () {
                        var $button = $(this);
                        var $parent = $button.parent();
                        var oldValue = $parent.find('.input').val();

                        if ($button.text() == "+") {
                            var newVal = parseFloat(oldValue) + 1;
                        } else {
                            // Don't allow decrementing below zero
                            if (oldValue > 1) {
                                var newVal = parseFloat(oldValue) - 1;
                            } else {
                                newVal = 1;
                            }
                        }
                        $parent.find('a.add-to-cart').attr('data-quantity', newVal);
                        $parent.find('.input').val(newVal);
                    });
                });
            </script>
            <footer>
                <p class="footer-copyright">Pinky Cosmetic</p>
                <p class="socical"></p>
                <p class="p-content">
                    Chính sách giao hàng và thanh toán   |  <b> Chính sách bảo mật thông tin khách hàng </b>    |    Chính sách mua hàng Chính sách trả hàng
                    <br />
                    <br />
                    <b>Thời gian làm việc </b> Thứ 2 ~ Thứ 6 09:00 ~ 17:00 (trừ Thứ 7, Chủ Nhật và ngày lễ)
                    <b>Tư vấn và chăm sóc khách hàng</b> 028 3827 9777 (Ext: 125)
                    Email cs_vn@pinkycosmetic.com
                    <br />
                    <br />
                    CÔNG TY TNHH AMOREPACIFIC VIỆT NAM
                    Cơ quan cấp: Phòng Đăng kí kinh doanh - Sở Kế hoạch và Đầu tư TP.HCM
                    GIẤY CNĐKDN: 0309984165 - Ngày cấp: 05/05/2010, được sửa đổi lần thứ 21, ngày 04/04/2022
                    Địa chỉ đăng ký kinh doanh: Lầu 4A, Toà nhà Vincom, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam.
                    <br />

                </p>
                <p class="footer-copyrights">Thiết kế bởi Muộn Rồi</p>
            </footer>
    </div>
    <script>

        let slideIndex = 0;
        showSlides();

        function showSlides() {

            let i;
            let sliders = document.getElementsByClassName("mySlides");
            //if (n > x.length) { slideIndex = 1 }
            //if (n < 1) { slideIndex = x.length }
            for (i = 0; i < sliders.length; i++) {
                sliders[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > sliders.length) { slideIndex = 1 }
            sliders[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 2000);
        }

    </script>
    <script src="/themes/js/jquery.js" type="text/javascript"></script>
    <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/themes/js/google-code-prettify/prettify.js"></script>
    <script src="/themes/js/bootshop.js"></script>
    <script src="/themes/js/jquery.lightbox-0.5.js"></script>
    <script src="/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        $("#mkahd").on('click', function () {
            window.location.href = "/@culture/Account/Login";
        });
        $("#myHref").on('click', function () {
            window.location.href = "/@culture/Account/Login";
        });

        function setNumber() {
            var num = document.getElementById('lblCartCount').innerHTML = "0";
        }
        $(document).ready(function () {
            $(".header-menu__list-items:not(:first-of-type)").hover(function () {
                $(this).toggleClass("active-menu");
            });
        });
        $(".header-search-form").submit(function (e) {
            var form = $(this);
            var actionUrl = form.attr('action');
            var searchstr = $("#accordion2").val();
            $.ajax({
                url: '@culture/Product/Search',
                data: { "name": searchstr },
                success: function (data) {
                    window.location.href = "/@culture/Product/Search?name=" + searchstr;
                },
                error: function (data) {
                    window.location.href = "/@culture/Product/Search?name=" + searchstr;
                }
            });

        });
    </script>


    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        var site = new SiteController();
        site.initialize();
    </script>
    <script>
        function pay() {
            $('#exampleModal').modal('show');
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>